@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
    }
}

@layer components {
    .prose code {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        font-weight: 400;
        background: #fdf6e3; /* base03 */
        color: #657b83; /* base00 */
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .prose pre {
        background-color: #fdf6e3; /* base3 */
        color: #657b83; /* base00 */
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;

        line-height: 1.5;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    .prose code::before, .prose code::after {
        content: "";
    }

    .prose .quote {
        @apply mx-5;
        @apply bg-gray-200;
        @apply p-4;
        @apply rounded-xl;
    }

    .prose .quote .source::before {
        content: "-"
    }
    .prose .quote .source {
        @apply text-gray-600;
        font-style: italic;
        text-align: right;
    }

    .two-columns {
        @apply grid;
        @apply sm:grid-cols-1;
        @apply md:grid-cols-2;
        column-gap: 2rem;
    }

    .alert {
        @apply bg-red-300;
        margin: 1rem;
        padding: 0.5rem 1rem;
        width: calc(100% - 2rem);
        border-radius: 1rem;

        > p:first-child {
            margin-top: 0;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06)
    }

    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
    .collapsible {
        @apply bg-gray-300;
        margin: 1rem;
        width: calc(100% - 2rem);
        border-radius: 1rem;
    }
    .collapsible > summary {
        margin-left: 1rem;
        cursor: pointer;
        list-style: none;
    }
    .collapsible > summary::after {
        content: ' ►';
    }
    .collapsible[open] > summary:after {
        content: " ▼";
    }
    .collapsible > .collapsible-content {
        padding: 1rem 1rem;
        transition: max-height 0.2s ease-out;

        > p:first-child {
            margin-top: 0;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }
}