---
permalink: human.json
eleventyExcludeFromCollections: true
---
{
    "version": "0.1.1",
    "url": "https://raniz.blog",
    "vouches": [
        {
            "url": "https://factor10.com",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://katharina.damschen.net/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://markuseliasson.se/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "http://recurse.se/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://jimmynilsson.com/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://dino.opij.ac/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://programmaticallyspeaking.com/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://nizar.se/",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://friktion.se",
            "vouched_at": "2026-03-20"
        },
        {
            "url": "https://underjord.io",
            "vouched_at": "2026-03-20"
        }
    ]

}
