<footer class="mt-20 px-10 py-8 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        © 2021 Raniz.
        Made with <a href="https://www.11ty.dev" target="_blank" rel="noopener">Eleventy</a> based on <a href="https://github.com/dafiulh/vredeburg" target="_blank" rel="noopener">Vredeburg</a>.
    </div>
</footer>